@using ShortUrl.Helpers
@using ShortUrl.Models
@model Link
@{
    ViewBag.Title = "Home Page";
    var shortUrl = (!String.IsNullOrEmpty(Model.ShortUrl)) ? ShortUrl.Models.UrlShorter.MainUrl + Model.ShortUrl : "";
    var url = ViewBag.CurrentUrl;
}
<h1 class="text-center">Short Url</h1>
<section id="urlBox" class="container-fluid form-section" style="background-color: blueviolet;">
    @using (Html.BeginForm("GetShortUrl", "Home", FormMethod.Post, new { @class = "text-center" }))
    {
        <div class="text-center h2" style="color: white;">Введите ссылку для сокращения:</div>
        <br />
        <div class="form-container-grid">
            <input type="url" name="FullUrl" class="lr-pad input-lg fullUrl-grid fullUrl-input"
                   placeholder="Длинная ссылка" />
            <input type="submit" class="btn btn-shorten-grid btn-shorten" value="Сократить" />
            <br />
        </div>
        if (!String.IsNullOrEmpty(Model.ShortUrl))
        {
            <a class="center-block text-center" href="@shortUrl">@shortUrl</a>
        }
    }
</section>


@if (ViewBag.UserLinks.Count != 0)
{
    <div class="container-fluid" style="background-color: blueviolet">
        @foreach (var item in ViewBag.UserLinks as List<Link>)
        {
            <div class="row link">
                <div class="col-md-6 long-link lr-pad">
                    @item.FullUrl
                </div>
                <div class="col-md-4 short-link lr-pad">
                    <a href="@url@item.ShortUrl" id="shortUrl @item.Id">@url@item.ShortUrl</a>
                </div>
                <div class="col-md-2 copy lr-pad">
                    <button class="btn copy-btn" onclick="copyById('shortUrl ' + @item.Id)">Скопировать</button>
                </div>
            </div>
        }
    </div>
}

<script src="~/Scripts/Main.js"></script>


