@model ShortUrl.Models.Link
@using ShortUrl.Helpers
@using ShortUrl.Models
@{
    ViewBag.Title = "Home Page";
    var shortUrl = (Model.ShortUrl != null) ? ShortUrl.Models.UrlShorter.MainUrl + Model.ShortUrl : "";
    var url = ViewBag.CurrentUrl;
}
<h1 class="text-center">Short Url</h1>
<section id="urlBox">
    @using (Html.BeginForm("GetShortUrl", "Home", FormMethod.Post, new { @class = "text-center" }))
    {
    @Html.Label("Введите ссылку для сокращения: ", new { @class = "text-center h2" })
    <br />
    <div id="form-container">
        @Html.EditorFor(m => m.FullUrl)
        <input type="submit" class="btn btn-danger" value="Сократить" style="height: 100%;" />
        <br />
    </div>
    <a class="center-block text-center" href="@shortUrl">@shortUrl</a>
    }
</section>


<div class="container-fluid" style="background-color: blueviolet">
    @foreach (var item in ViewBag.UserLinks as List<Link>)
    {
    <div class="row link">
        <div class="col-md-6 long-link lr-pad">
            @item.FullUrl
        </div>
        <div class="col-md-4 short-link lr-pad">
            <a href="@url@item.ShortUrl" id="shortUrl @item.Id">@url@item.ShortUrl</a>
        </div>
        <div class="col-md-2 copy lr-pad">
            <button class="btn copy-btn" onclick="copyById('shortUrl @item.Id')">Скопировать</button>
        </div>
    </div>
    }
</div>


<style>
    #FullUrl {
        width: 100%;
        height: 100%;
        max-width: 500px;
    }

    #form-container {
        height: 30px;
        margin: 10px;
    }

    #urlBox {
        box-shadow: 0px 1px 4px #ccc;
        padding: 10px 10px 30px 10px;
        margin: 40px auto 40px auto;
    }
</style>